{% extends 'file_editor/base.html' %}
{% block head_additional %}
    {{ form.media }}
{% endblock %}
{% block title %}File{% endblock %}

{% block content %}
    <div class="container__inner">
        <input type="file" id="file-input"/>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" id="save-file_btn" type="submit">Save file</button>
        </form>
    </div>
{% endblock content %}]

{% block js %}
    <script>
        {#window.alert('Buy our soft');#}

        function readSingleFile(e) {
            var file = e.target.files[0];
            let imageUrl = URL.createObjectURL(file);
            console.log(imageUrl);
            if (!file) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                var contents = e.target.result;
                displayContents(contents);
            };
            reader.readAsText(file);

        }

        function displayContents(contents) {
            CKEDITOR.instances.id_content.setData(contents);
        }

        document.getElementById('file-input')
            .addEventListener('change', readSingleFile, false);

        document.getElementById('save-file_btn')
            .addEventListener('click', () => {
                // save file to the disk

            })

    </script>
{% endblock js %}
